@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

#webcrumbs {
  font-family: var(--font-body);
}

#webcrumbs h1, 
#webcrumbs h2, 
#webcrumbs h3, 
#webcrumbs h4, 
#webcrumbs h5, 
#webcrumbs h6 {
  font-family: var(--font-title);
}

:root {
  --font-title: 'Lato', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-body: 'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
} 